In [49]:
import os
import glob
import pandas as pd
import numpy as np
import scipy.stats

In [2]:
file_path = r'C:/Users/Ryan/Documents/BootCamp/Final_Project/Disney_wait_times/Wait_Time_Data/'

In [3]:
all_files = glob.glob(os.path.join(file_path, '*.csv'))

In [4]:
wait_time_df = pd.concat((pd.read_csv(f) for f in all_files),)

In [5]:
wait_time_df.head()

       date       datetime  SACTMIN  SPOSTMIN       ride_name
0  1/1/2015  1/1/2015 7:51      NaN      45.0  7_dwarfs_train
1  1/1/2015  1/1/2015 8:02      NaN      60.0  7_dwarfs_train
2  1/1/2015  1/1/2015 8:05     54.0       NaN  7_dwarfs_train
3  1/1/2015  1/1/2015 8:09      NaN      60.0  7_dwarfs_train
4  1/1/2015  1/1/2015 8:16      NaN      60.0  7_dwarfs_train

In [6]:
wait_time_df.dtypes

date          object
datetime      object
SACTMIN      float64
SPOSTMIN     float64
ride_name     object
dtype: object

In [7]:
wait_time_df = wait_time_df.rename(columns={'SACTMIN': 'sactmin', 'SPOSTMIN': 'spostmin'})

In [9]:
wait_time_est = wait_time_df.dropna(subset=['spostmin'])
wait_time_est.head()

       date       datetime  sactmin  spostmin       ride_name
0  1/1/2015  1/1/2015 7:51      NaN      45.0  7_dwarfs_train
1  1/1/2015  1/1/2015 8:02      NaN      60.0  7_dwarfs_train
3  1/1/2015  1/1/2015 8:09      NaN      60.0  7_dwarfs_train
4  1/1/2015  1/1/2015 8:16      NaN      60.0  7_dwarfs_train
6  1/1/2015  1/1/2015 8:23      NaN      60.0  7_dwarfs_train

In [11]:
wait_time_est.count()

date         2345606
datetime     2345606
sactmin            0
spostmin     2345606
ride_name    2345606
dtype: int64

In [12]:
wait_time_est = wait_time_est.drop(columns='sactmin')

In [20]:
wait_time_est = wait_time_est.drop(wait_time_est.loc[wait_time_est['spostmin'] == -999].index)

In [21]:
wait_time_est['spostmin'].describe()

count    1.412810e+06
mean     4.445371e+01
std      3.047277e+01
min      0.000000e+00
25%      2.000000e+01
50%      4.000000e+01
75%      6.000000e+01
max      3.300000e+02
Name: spostmin, dtype: float64

In [22]:
wait_time_est['datetime'] = pd.to_datetime(wait_time_est['datetime'])

In [23]:
wait_time_est.dtypes

date                 object
datetime     datetime64[ns]
spostmin            float64
ride_name            object
dtype: object

In [24]:
wait_time_est['year'] = pd.DatetimeIndex(wait_time_est['datetime']).year

In [25]:
wait_time_est['month'] = pd.DatetimeIndex(wait_time_est['datetime']).month

In [26]:
wait_time_est.head()

        date            datetime  spostmin       ride_name  year  month
6   1/1/2015 2015-01-01 08:23:00      60.0  7_dwarfs_train  2015      1
7   1/1/2015 2015-01-01 08:29:00      60.0  7_dwarfs_train  2015      1
8   1/1/2015 2015-01-01 08:37:00      90.0  7_dwarfs_train  2015      1
9   1/1/2015 2015-01-01 08:44:00     105.0  7_dwarfs_train  2015      1
10  1/1/2015 2015-01-01 08:50:00     105.0  7_dwarfs_train  2015      1

In [27]:
wait_time_est.shape

(1412810, 6)

In [54]:
wait_time_est.groupby('year')['spostmin'].describe()

         count       mean        std  min   25%   50%   75%    max
year
2015  272639.0  42.717205  28.100255  0.0  20.0  40.0  60.0  250.0
2016  219837.0  43.353735  30.421054  0.0  20.0  40.0  60.0  245.0
2017  204360.0  47.020532  33.829176  0.0  20.0  40.0  65.0  330.0
2018  179543.0  46.956456  34.462877  0.0  20.0  40.0  65.0  300.0
2019  186380.0  48.651374  34.114176  0.0  20.0  40.0  70.0  300.0
2020   76674.0  49.669510  32.991181  0.0  25.0  45.0  65.0  220.0
2021  273377.0  39.182854  21.739753  0.0  25.0  40.0  50.0  145.0

In [34]:
wait_time_est.groupby('year').median()

      spostmin  month
year
2015      40.0      5
2016      40.0      7
2017      40.0      7
2018      40.0      6
2019      40.0      7
2020      45.0      7
2021      40.0      8

In [53]:
wait_time_est.groupby('ride_name')['spostmin'].describe()

,count,mean,std,min,25%,50%,75%,max
ride_name,,,,,,,,
7_dwarfs_train,192509.0,75.002467,32.555343,0.0,50.0,70.0,90.0,300.0
big_thunder_mtn,179467.0,37.077708,22.789282,0.0,20.0,35.0,50.0,300.0
haunted_mansion,189013.0,31.515816,18.653205,0.0,15.0,30.0,45.0,180.0
it_s_a_small_world,135269.0,22.036498,13.658459,0.0,10.0,20.0,30.0,140.0
peter_pan_s_flight,185090.0,55.215733,24.480417,0.0,35.0,55.0,70.0,240.0
pirates_of_caribbean,173209.0,28.565923,18.064884,0.0,10.0,25.0,40.0,185.0
space_mountain,192063.0,54.586724,35.140930,0.0,30.0,50.0,75.0,330.0
splash_mountain,166190.0,42.855587,29.510100,0.0,20.0,40.0,60.0,300.0

In [42]:
wait_time_est['ride_name'].value_counts()

7_dwarfs_train          192509
space_mountain          192063
haunted_mansion         189013
peter_pan_s_flight      185090
big_thunder_mtn         179467
pirates_of_caribbean    173209
splash_mountain         166190
it_s_a_small_world      135269
Name: ride_name, dtype: int64

In [52]:
normal_test = scipy.stats.shapiro
norm_test_est = wait_time_est.groupby('year')['spostmin'].apply(normal_test)
norm_test_est2 = norm_test_est.apply(pd.Series, index=['stat', 'p'])
norm_test_est2['normal'] = np.where(norm_test_est2['p']<0.05, 'not normal', 'normal')

norm_test_est2

c:\Users\Ryan\anaconda3\envs\PythonData\lib\site-packages\scipy\stats\morestats.py:1760: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

          stat    p      normal
year
2015  0.941182  0.0  not normal
2016  0.924665  0.0  not normal
2017  0.907743  0.0  not normal
2018  0.908632  0.0  not normal
2019  0.924621  0.0  not normal
2020  0.931159  0.0  not normal
2021  0.967902  0.0  not normal

In [46]:
norm_test_est.count

        date  datetime  spostmin  ride_name   month
year
2015  272639    272639    272639     272639  272639
2016  219837    219837    219837     219837  219837
2017  204360    204360    204360     204360  204360
2018  179543    179543    179543     179543  179543
2019  186380    186380    186380     186380  186380
2020   76674     76674     76674      76674   76674
2021  273377    273377    273377     273377  273377