In [10]:
import os
import glob
import pandas as pd

In [11]:
file_path = r'C:/Users/Ryan/Documents/BootCamp/Final_Project/Data_Files/'

In [12]:
all_files = glob.glob(os.path.join(file_path, '*.csv'))

In [13]:
all_files

['C:/Users/Ryan/Documents/BootCamp/Final_Project/Data_Files\\7_dwarfs_train.csv',
 'C:/Users/Ryan/Documents/BootCamp/Final_Project/Data_Files\\big_thunder_mtn.csv',
 'C:/Users/Ryan/Documents/BootCamp/Final_Project/Data_Files\\haunted_mansion.csv',
 'C:/Users/Ryan/Documents/BootCamp/Final_Project/Data_Files\\it_s_a_small_world.csv',
 'C:/Users/Ryan/Documents/BootCamp/Final_Project/Data_Files\\peter_pan_s_flight.csv',
 'C:/Users/Ryan/Documents/BootCamp/Final_Project/Data_Files\\pirates_of_caribbean.csv',
 'C:/Users/Ryan/Documents/BootCamp/Final_Project/Data_Files\\space_mountain.csv',
 'C:/Users/Ryan/Documents/BootCamp/Final_Project/Data_Files\\splash_mountain.csv']

In [14]:
wait_time_df = pd.concat((pd.read_csv(f) for f in all_files),)

In [15]:
wait_time_df.head()

       date       datetime  SACTMIN  SPOSTMIN       ride_name
0  1/1/2015  1/1/2015 7:51      NaN      45.0  7_dwarfs_train
1  1/1/2015  1/1/2015 8:02      NaN      60.0  7_dwarfs_train
2  1/1/2015  1/1/2015 8:05     54.0       NaN  7_dwarfs_train
3  1/1/2015  1/1/2015 8:09      NaN      60.0  7_dwarfs_train
4  1/1/2015  1/1/2015 8:16      NaN      60.0  7_dwarfs_train

In [16]:
wait_time_df.dtypes

date          object
datetime      object
SACTMIN      float64
SPOSTMIN     float64
ride_name     object
dtype: object

In [28]:
wait_time_df = wait_time_df.rename(columns={'SACTMIN': 'sactmin', 'SPOSTMIN': 'spostmin'})

In [31]:
wait_time_actuals = wait_time_df.dropna(subset=['sactmin'])
wait_time_actuals.head()

         date        datetime  sactmin  spostmin       ride_name
2    1/1/2015   1/1/2015 8:05     54.0       NaN  7_dwarfs_train
5    1/1/2015   1/1/2015 8:22     55.0       NaN  7_dwarfs_train
177  1/2/2015  1/2/2015 12:20    160.0       NaN  7_dwarfs_train
264  1/2/2015  1/2/2015 21:49     65.0       NaN  7_dwarfs_train
281  1/2/2015   1/3/2015 0:44     19.0       NaN  7_dwarfs_train

In [33]:
wait_time_est = wait_time_df.dropna(subset=['spostmin'])
wait_time_est.head()

       date       datetime  sactmin  spostmin       ride_name
0  1/1/2015  1/1/2015 7:51      NaN      45.0  7_dwarfs_train
1  1/1/2015  1/1/2015 8:02      NaN      60.0  7_dwarfs_train
3  1/1/2015  1/1/2015 8:09      NaN      60.0  7_dwarfs_train
4  1/1/2015  1/1/2015 8:16      NaN      60.0  7_dwarfs_train
6  1/1/2015  1/1/2015 8:23      NaN      60.0  7_dwarfs_train