In [1]:
import os
import glob
import pandas as pd

In [2]:
file_path = r'C:/Users/Ryan/Documents/BootCamp/Final_Project/Disney_wait_times/Data_Files/'

In [3]:
all_files = glob.glob(os.path.join(file_path, '*.csv'))

In [4]:
wait_time_df = pd.concat((pd.read_csv(f) for f in all_files),)

In [5]:
wait_time_df.head()

       date       datetime  SACTMIN  SPOSTMIN       ride_name
0  1/1/2015  1/1/2015 7:51      NaN      45.0  7_dwarfs_train
1  1/1/2015  1/1/2015 8:02      NaN      60.0  7_dwarfs_train
2  1/1/2015  1/1/2015 8:05     54.0       NaN  7_dwarfs_train
3  1/1/2015  1/1/2015 8:09      NaN      60.0  7_dwarfs_train
4  1/1/2015  1/1/2015 8:16      NaN      60.0  7_dwarfs_train

In [6]:
wait_time_df.dtypes

date          object
datetime      object
SACTMIN      float64
SPOSTMIN     float64
ride_name     object
dtype: object

In [7]:
wait_time_df = wait_time_df.rename(columns={'SACTMIN': 'sactmin', 'SPOSTMIN': 'spostmin'})

In [8]:
wait_time_actuals = wait_time_df.dropna(subset=['sactmin'])
wait_time_actuals.head()

         date        datetime  sactmin  spostmin       ride_name
2    1/1/2015   1/1/2015 8:05     54.0       NaN  7_dwarfs_train
5    1/1/2015   1/1/2015 8:22     55.0       NaN  7_dwarfs_train
177  1/2/2015  1/2/2015 12:20    160.0       NaN  7_dwarfs_train
264  1/2/2015  1/2/2015 21:49     65.0       NaN  7_dwarfs_train
281  1/2/2015   1/3/2015 0:44     19.0       NaN  7_dwarfs_train

In [9]:
wait_time_est = wait_time_df.dropna(subset=['spostmin'])
wait_time_est.head()

       date       datetime  sactmin  spostmin       ride_name
0  1/1/2015  1/1/2015 7:51      NaN      45.0  7_dwarfs_train
1  1/1/2015  1/1/2015 8:02      NaN      60.0  7_dwarfs_train
3  1/1/2015  1/1/2015 8:09      NaN      60.0  7_dwarfs_train
4  1/1/2015  1/1/2015 8:16      NaN      60.0  7_dwarfs_train
6  1/1/2015  1/1/2015 8:23      NaN      60.0  7_dwarfs_train

In [10]:
wait_time_actuals.count()

date         69883
datetime     69883
sactmin      69883
spostmin         0
ride_name    69883
dtype: int64

In [11]:
wait_time_est.count()

date         2345606
datetime     2345606
sactmin            0
spostmin     2345606
ride_name    2345606
dtype: int64

In [12]:
wait_time_est = wait_time_est.drop(columns='sactmin')

In [13]:
wait_time_est['datetime'] = pd.to_datetime(wait_time_est['datetime'])

In [15]:
wait_time_est.dtypes

date                 object
datetime     datetime64[ns]
spostmin            float64
ride_name            object
dtype: object

In [16]:
wait_time_est['year'] = pd.DatetimeIndex(wait_time_est['datetime']).year

In [17]:
wait_time_est['month'] = pd.DatetimeIndex(wait_time_est['datetime']).month

In [18]:
wait_time_est.head()

       date            datetime  spostmin       ride_name  year  month
0  1/1/2015 2015-01-01 07:51:00      45.0  7_dwarfs_train  2015      1
1  1/1/2015 2015-01-01 08:02:00      60.0  7_dwarfs_train  2015      1
3  1/1/2015 2015-01-01 08:09:00      60.0  7_dwarfs_train  2015      1
4  1/1/2015 2015-01-01 08:16:00      60.0  7_dwarfs_train  2015      1
6  1/1/2015 2015-01-01 08:23:00      60.0  7_dwarfs_train  2015      1

(2345606, 6)